<!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li class="active"><a href="index.html">ABSTrack</a></li>
      <li><a href="missions.html">Missions</a></li>
      <li><a href="predictions.html">Predictions</a></li>
      <li><a href="recovery.html">Recovery</a></li>
      <li><a href="found.html">FOUND ONE!</a></li>
      <li><a href="about.html">About ABS</a></li>
    </ul>
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="https://www.youtube.com/channel/UCtGGGTlBGcjIDWj8MltnW8g" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
    </ul>
  </nav>
