<article class="post featured">
	<header class="major">
	<h2>What is Arkansas BalloonSAT?</h2>
	</header>
	<img src="images/current.png" width="250px"> </img>
	{{!-- <br>
	<br> --}}
	<p>We're a team of researchers from Arkansas State University and Pottsville High School dedicated to scientific near-space balloon missions and scientific outreach.</p>
</article>