<article class="post featured">
	<header class="major">
	<h2>Arkansas BalloonSAT Launch #51 </h2>
	</header>
	<img src="images/current.png" width="250px"> </img>
	{{!-- <br>
	<br> --}}
	<h2>Current Mission Status: Planning </h2>
	<h3> Anticipated Launch Date: Sept ??</h3>
	<h3> Anticipated Launch Site: Hickory Ridge, AR </h3>
	<ul class="actions">
		<li><a href="#" class="button big">Flight Predictions</a></li>
		<li><a href="#" class="button special big">Track Balloon</a></li>
	</ul>
	<ul class="actions">
		<li><a href="#" class="button icon fa-hand-stop-o">I found your balloon!</a></li>
	</ul>
</article>

<article class="posts featured">
	<h2>What is Arkansas BalloonSAT?</h2>
	<p>We're a team of researchers from Arkansas State University and Pottsville High School dedicated to scientific near-space balloon missions and scientific outreach.</p>
</article>