
<!-- Post -->
	<section class="post">
		<header class="major">
			<span class="date">{{mission.date}}</span>
			<h1>{{mission.title}}</h1>
			<p>{{mission.description}}</p>
		</header>
		<div class="image main"><img src="images/pic01.jpg" alt="" /></div>
		<h3>Left &amp; Right</h3>
			<p><span class="image left"><img src="http://res.cloudinary.com/arballoonsat/image/upload/v1504696806/Arkansas_-_Best_Picture_ilq6oj.jpg" alt="" /></span>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis.</p>
			<p><span class="image right"><img src="http://res.cloudinary.com/arballoonsat/image/upload/v1504696806/abs50-prep.jpg" alt="" /></span>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis. </p>
			<!--<span class="image"><img src="http://res.cloudinary.com/arballoonsat/image/upload/v1504696806/Arkansas_-_Best_Picture_ilq6oj.jpg" alt="" width="100%"/></span>
			<span class="image center"><img src="http://res.cloudinary.com/arballoonsat/image/upload/v1504696806/abs50-1.jpg" alt="" width="75%"/></span>
			<span class="image"><img src="http://res.cloudinary.com/arballoonsat/image/upload/v1504696806/abs50-2.jpg" alt="" width="75%" /></span>
			<span class="image"><img src="http://res.cloudinary.com/arballoonsat/image/upload/v1504696806/abs50-3.jpg" alt="" width="75%" /></span>
			<span class="image"><img src="http://res.cloudinary.com/arballoonsat/image/upload/v1504696806/abs50-4.jpg" alt="" width="75%" /></span>
			<span class="image"><img src="http://res.cloudinary.com/arballoonsat/image/upload/v1504696806/abs50-5.jpg" alt="" width="75%" /></span>-->
  </section>
