<!-- Post -->
<section class="post">
	<header class="major">
		<h1>Balloon Path</h1>
	</header>
	<div class="image main">
		<div id="map" style="height: 30rem;"></div>
	</div>
</section>

<section class="posts">
	<article>
		<div id="alt-plot" class="fit" style="height: 30rem;"></div>
	</article>
	<article>
		<div id="dew-plot" class="fit" style="height: 30rem;"></div>
	</article>
</section>